body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--black-color);
  font-family: var(--font-family);
  position: relative;
}
